/* Base stles */
body {
    font-family: "Roboto", sans-serif;
    background: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link {
    text-decoration: none;
}

:root {
    /* Colors */
    --link-logo: #4d5ae5;
    --logo-text-color: #2E2F42;
    --link-item: #2E2F42;
    --list-item: #2e2f42;
    --list-address: #434455;
    --list-item-title-feature: #2E2F42;
    --footer-logo-text: #4D5AE5;
    --footer-link: #4d5ae5;
    --filter-button: #4D5AE5;
    --filter-background: #F4F4FD;
    --row-list-item: #2e2f42;
    --row-list-des: #434455;
    --cloud: #F4F4FD;
    --custumers-icon-color: #8E8F99;
    --footer-social-title: #FFFFFF;
    --footer-list-icons-background: #4d5ae5;
    --footer-list-icons-background-green: #31D0AA;
    --overlay-text: #f4f4fd;
    --custumers-icon: #8e8f99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Гумові картинки */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    margin: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

/* Container */
.container {
    max-width: 426px;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

/* Section 1 (Hero) */
.hero {
    padding: 112px 0px;
    background-position: center;
    text-align: center;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero/office-people-mobile.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 428px;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-mobile@2x.jpg)
    }
}


.hero-title {
    font-size: 36px;
    color: #FFF;
    margin: 0 auto 72px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 320px;
    text-align: center;
}

.hero-button-text {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.5;
    color: #FFF;
    letter-spacing: 0.04em;
    font-weight: 500;
    background: var(--filter-button);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button-text:hover,
.hero-button-text:focus {
    background-color: #404bbf;
    transition-duration: 250ms;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-tablet.jpg);
        max-width: 768px;
    }

    .hero-title {
        font-size: 56px;
        max-width: 496px;
        margin: 0 auto 36px;
        line-height: 1.07;
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-tablet@2x.jpg)
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-desktop.jpg);
        max-width: 1440px;
    }

    .hero-title {
        margin: 0 auto 48px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/hero/office-people-desktop@2x.jpg)
    }
}

/* Section 2 (Features)*/
.feature {
    padding: 96px 0;
    margin: 0 auto;
}

.list-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;


}

.list-item-feature {
    height: calc((100% - 3*72px) / 4);
    width: 396px;
}

.list-item-title-feature {
    color: var(--list-item-title-feature);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.feature-list-discription {
    color: var(--list-address);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-item-feature-image {
    display: none;
}


@media screen and (min-width: 768px) {
    .list-feature {
        display: flex;
        flex-direction: row;
        gap: 24px;
        flex-wrap: wrap;
    }

    .list-item-feature {
        width: calc((100% - 24px) / 2);
    }

    .list-item-title-feature {
        text-align: start;

    }

    .feature-list-discription {
        font-weight: 400;
    }
}

@media screen and (min-width: 1158px) {
    .feature {
        padding: 120px 0;
    }

    .list-item-feature {
        width: calc((100% - 3*24px) / 4);
    }

    .list-item-title-feature {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .list-item-feature-image {
        border-radius: 4px;
        background: var(--cloud);
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }

}
/* Section 3 (Projects) */
