/* Reset end */

/* Header */

/* Menu Nav */

/* Logo WebStudio */

/* Main */


/* Section 1 (Hero) */
.hero-button-text,
.filter-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #FFF;
    letter-spacing: 0.04em;
    font-weight: 500;
    background: var(--iris, #4D5AE5);
    cursor: pointer;
}

@ .hero-button-text {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 480px;
    box-sizing: content-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    border: 1px solid transparent;
    transition-duration: 250ms;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Section 3 (Projects) */

/*<Section 4 (Team)*/

/* Custumers */

/* Footer */



.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy, #FCFCFC);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-window-title {
    color: var(--list-item);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 360px;
    margin-bottom: 16px;
}


.close-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: 1px;
    cursor: pointer;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-window-main {
    margin-bottom: 8px;
}

.modal-window-texarea {
    margin-bottom: 16px;
}

.modal-list-item-container {
    position: relative;

}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    text-align: left;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.modal-input:focus {
    border-color: #4D5AE5;
    border-radius: 4px;
    border: 1px solid #4D5AE5;
}

.modal-input:focus+.modal-list-item-svg {
    fill: #4D5AE5;
}


.modal-input-comment {
    border-radius: 4px;
    padding: 8px 16px;
    height: 120px;
    width: 100%;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
}

.modal-input-comment:focus {
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    border-color: #4D5AE5;

}

.modal-input-comment::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-list-item {
    display: block;
    color: var(--custumers-icon);
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-list-item-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-text {
    color: var(--lightslate, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
}

.checkbox-icon {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 16px;
    width: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    fill: transparent;
}

.checkbox-text-link {
    color: var(--iris, #4D5AE5);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

input[type="checkbox"]:checked+.checkbox-text>.checkbox-icon {
    background-color: var(--ocean, #404BBF);
    fill: #F4F4FD;
    border: none;
}


.checkbox-btn {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: var(--iris, #4D5AE5);
    border: none;
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
}

.checkbox-btn:hover,
.checkbox-btn:focus {
    border: 1px solid transparent;
    transition-duration: 250ms;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
    cursor: pointer;
}

/* Page (Portfolio)*/
/* Main */
/* Sectin menu filters */

.filter-button {
    color: var(--filter-button);
    background-color: var(--filter-background);
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.ul-list-filter {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

/* Sectin rows */
.row {
    padding: 96px 0 120px 0;
}

.row-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--row-list-item);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.row-list-descreption {
    color: var(--row-list-des);
    font-weight: 400;
}

.menu-apps-item {
    width: calc((100% - 2*24px) / 3);
}

.menu-apps-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-apps-item-link:hover,
.menu-apps-item-link:focus {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-apps-item-link:hover .overlay,
.menu-apps-item-link:focus .overlay {
    transform: translateY(0%);
}

.overlay-box {
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--overlay-text);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-apps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.menu-apps-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}